.comp3{
width:572px;
height: 296px;
border:1px solid  #23224A;
margin: 0px 0px 0px 0px;

/* position: absolute; */
/* width: 572px;
height: 296px; */
/* left: 483px; */
/* top: 76px; */

background: #23224A;
border-radius: 16px;
}