@tailwind base;
@tailwind components;
@tailwind utilities;


*{
   
    font-family: poppins;
}

body{
    background-color: #1D1B3F;;
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background:#191537;
    ; 
  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #23224A 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9996BA; 
  }